---

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#
## REF: https://app.docker.com/admin/orgs/kalilinux/org-access-tokens
#

## Security and access -> Access tokens -> Generate access token
#   - Label: Kali-Docker Build-Script
#   - Description: https://gitlab.com/kalilinux/build-scripts/kali-docker/-/settings/ci_cd#js-cicd-variables-settings
#   - Expiration date: Custom -> 20XX-05-24 00:00 UTC
#   - Resources
#     - Repository
#       - Repository -> All kalilinux repositories: image-push

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#
## REF (Project): https://gitlab.com/kalilinux/build-scripts/kali-docker/-/settings/ci_cd#js-cicd-variables-settings
#

## Settings -> CI/CD -> Variables -> Expand -> Add variable
#   - Type: Variable
#   - Environments: All (default)
#   - Visibility: Masked and hidden
#   - Flags
#       Protect variable: Enabled
#       Expand variable reference: Disabled
#   - Description: https://app.docker.com/admin/orgs/kalilinux/org-access-tokens/
#   - Key: DOCKER_HUB_ACCESS_TOKEN
#   - Value: <VALUE>

## Settings -> CI/CD -> Variables -> Expand -> Add variable
#   - Type: Variable
#   - Environments: All (default)
#   - Visibility: Visible
#   - Flags
#       Protect variable: Enabled
#       Expand variable reference: Disabled
#   - Description: https://hub.docker.com/u/kalilinux
#   - Key: DOCKER_HUB_ORGANIZATION
#   - Value: docker.io/kalilinux

## Settings -> CI/CD -> Variables -> Expand -> Add variable
#   - Type: Variable
#   - Environments: All (default)
#   - Visibility: Visible
#   - Flags
#       Protect variable: Enabled
#       Expand variable reference: Disabled
#   - Description: https://hub.docker.com/orgs/kalilinux/members // https://app.docker.com/admin/orgs/kalilinux/members
#   - Key: DOCKER_HUB_USER
#   - Value: kalilinux

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

workflow:
    rules:
        - if: $CI_COMMIT_TAG
          when: never
        - when: always

variables:
    # NB: Images will appear in this order on the Docker Hub, so keep everything
    # sorted per order of importance here, both architectures and images.
    BASE_IMAGES: "kali-rolling kali-last-release kali-dev"
    EXTRA_IMAGES: "kali-bleeding-edge kali-experimental"
    ARCHS: "amd64 i386 arm64 armhf"
    # Cf. https://discussion.fedoraproject.org/t/125528/7
    NETAVARK_FW: iptables

stages:
    - build-rootfs
    - build
    - test
    - publish

.take-a-look-around: &take-a-look-around
    - lscpu
    - uname -a
    - cat /proc/cmdline
    - cut -d ' ' -f 1 /proc/modules | sort -u
    - ls -l --time-style=+ /dev
    - cat /proc/mounts
    - test -e /proc/config.gz && zgrep BINFMT_MISC /proc/config.gz
    - test -e /boot/config-$(uname -r) && grep BINFMT_MISC /boot/config-$(uname -r)
    - findmnt binfmt_misc || true
    - ls -l /proc/sys/fs/binfmt_misc/

.nodev-workaround: &nodev-workaround
    # Remount /builds with the dev option if needed.
    #
    # Since GitLab migrated to Google Container-Optimized OS & Docker 19.03.15
    # in August 2021, /builds is mounted with the option nodev. The logs are
    # now cluttered with 'cannot create /dev/null: Permission denied', which
    # is not fatal, but at the same time we can easily fix it, so let's do so.
    #
    # Some references:
    # * https://gitlab.com/kalilinux/build-scripts/kali-docker/-/issues/40
    # * https://gitlab.com/gitlab-com/gl-infra/production/-/issues/5184
    - findmnt -no options -T . | grep -qw nodev && mount -vo remount,dev $(stat -c %m .) || true

build-rootfs:
    stage: build-rootfs
    image: debian:testing
    artifacts:
        paths:
            - "*.tar.gz"
            - "*.release.version"
    before_script:
        - *take-a-look-around
        - *nodev-workaround
    script:
        - |
          # Install packages
          apt-get update
          apt-get install -y arch-test debootstrap wget
        - |
          # Install the Kali archive keyring
          KEYRING_PKG_PATH=$(wget -nv -O - \
              https://kali.download/kali/dists/kali-rolling/main/binary-amd64/Packages.gz \
              | gzip -dc | grep ^Filename: | grep kali-archive-keyring | head -n 1 | awk '{print $2}')
          KEYRING_PKG_URL="https://kali.download/kali/$KEYRING_PKG_PATH"
          wget -nv "$KEYRING_PKG_URL"
          sha256sum kali-archive-keyring_*_all.deb
          dpkg -i kali-archive-keyring_*_all.deb
          rm kali-archive-keyring_*_all.deb
        - |
          # Test the architecture right away
          echo -n "Arch test for $ARCH: " && /usr/libexec/arch-test/$ARCH
        - |
          # Build the rootfs
          echo "============================================================"
          echo "Building rootfs $IMAGE/$ARCH"
          echo "============================================================"
          ./build-rootfs.sh "$IMAGE" "$ARCH"
    parallel:
        matrix:
            - IMAGE: [kali-rolling, kali-last-release, kali-dev]  # $BASE_IMAGES
              ARCH: [amd64, i386, arm64, armhf]                   # $ARCHS

build-docker-images:
    stage: build
    image: debian:testing
    dependencies:
        - build-rootfs
    artifacts:
        paths:
            - "*.conf"
    before_script: *take-a-look-around
    script:
        - |
          # Install packages
          apt-get update
          apt-get install -y ca-certificates podman
        - |
          # Build Docker images
          echo "$CI_JOB_TOKEN" | podman login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
          for image in $BASE_IMAGES; do
              for arch in $ARCHS; do
                  echo "============================================================"
                  echo "Building docker image $image/$arch"
                  echo "============================================================"
                  ./docker-build.sh "$image" "$arch"
              done
          done
          for image in $EXTRA_IMAGES; do
              for arch in $ARCHS; do
                  echo "============================================================"
                  echo "Building extra docker image $image/$arch"
                  echo "============================================================"
                  ./docker-build-extra.sh "$image" "$arch"
              done
          done

test-docker-images:
    stage: test
    image: debian:testing
    dependencies:
        - build-docker-images
    before_script: *take-a-look-around
    script:
        - |
          # Install packages
          apt-get update
          apt-get install -y ca-certificates podman
        - |
          # Test images
          for image in $BASE_IMAGES $EXTRA_IMAGES; do
              for arch in $ARCHS; do
                  echo "============================================================"
                  echo "Testing docker image $image/$arch"
                  echo "============================================================"
                  ./docker-test.sh "$image" "$arch"
              done
          done

publish-docker-images:
    stage: publish
    image: debian:testing
    dependencies:
        - build-docker-images
    before_script: *take-a-look-around
    script:
        - |
          # Install packages
          apt-get update
          apt-get install -y ca-certificates podman
        - |
          # Login to the registries
          echo "[i] Logging into: $CI_REGISTRY"
          echo "$CI_JOB_TOKEN" | podman login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
          if [ -n "$DOCKER_HUB_ACCESS_TOKEN" ]; then
              echo "[i] Logging into: $DOCKER_HUB_ORGANIZATION"
              echo "$DOCKER_HUB_ACCESS_TOKEN" | podman login -u "$DOCKER_HUB_USER" --password-stdin $DOCKER_HUB_ORGANIZATION
          fi
        - |
          # Push images in reverse order, so that they appear in order in Docker Hub ~ https://hub.docker.com/u/kalilinux/
          ARCHS=$(printf "%s\n" $ARCHS | tac | paste -s -d " ")
          IMAGES=$(printf "%s\n" $BASE_IMAGES $EXTRA_IMAGES | tac | paste -s -d " ")
          for image in $IMAGES; do
              echo "============================================================"
              echo "Publishing docker image $image ($ARCHS)"
              echo "============================================================"
              ./docker-publish.sh "$image" "$ARCHS"
          done
